[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cohere = "*"
annoy = "*"
flask = "*"
pandas = "*"
flask-cors = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
